html{
  background-color: black;
}
#chat {
  max-width: 20vw;
  position: absolute;
  top: 50px;
  right: 50px;

  form {
    display: flex;
  }

  chat {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
    border-bottom: 2px black solid;
    .uk-card {
      background-color: rgba(0, 0, 0, 0.73);
      border-radius: 20px;
    }

    div {
      width: 100%;
    }
  }

  input, button {
    color: white;
    background-color: rgba(0, 0, 0, 0.73);
    border-color: #282828;
    border-radius: 20px;

  }
}

@media screen and (max-width: 800px) {
  body {
    background: none;
    background-color: black;

  }
  #chat {
    position: relative;
    margin-top: 20px;
    max-width: 100vw;
    right: auto;
    margin-bottom: 50px;
  }

  chat {
    max-height: 40vh;
  }
  form {
    position: sticky;
    bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-image: url("https://birdwatch.bruegger.sg/images/cam.jpg");
    background-position: center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: 100vh;
  }
  #birdy {
    display: none;
  }
}